body {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #111828;
  /* overflow-x: hidden; */
}

main {
  width: 95%;
  margin: 0 auto;
}

.title-name {
  text-align: center;
  font-family: 'Star Wars', sans-serif;
  color: rgb(255, 208, 1);
  /* font-size: 60px; */
  background-image:url("https://static.vecteezy.com/system/resources/thumbnails/007/079/117/original/4k-60-fps-looping-space-travel-with-hyper-speed-a-beam-of-stars-in-the-universe-while-moving-at-the-speed-of-light-abstract-creative-cosmic-background-hyper-jump-into-another-galaxy-3d-rendering-free-video.jpg") ;
  background-size:cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 15px;
  width: 80%;
}

nav {
  position: sticky;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #202020;
  padding: 15px;
  margin: 0 auto;
}

.nav {
  margin-top: 20px;
  color: #75848b;
  text-align: center;
  align-items: center;
  font-size: smaller;

}

.nav-list:hover{
  border: #ccc solid 1px;
  background-color: #202020;
  color: rgb(255, 208, 1);
  padding: 5px;
}

p {
  font-size: 20px;
  margin: 20px;
  color: #75848b;

}

.info-title {
  text-align: center;
  text-decoration: underline;
  color: rgb(255, 254, 254);
  font-size: 35px;
  padding: 25px;
}

a {
  text-decoration: none;
  margin-right: 50px;
  color: rgb(255, 255, 255);
}


h3 {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

ul{
  color:rgb(255, 208, 1);
  text-decoration: none;
  list-style: none;
  text-align: center;
  font-size: 20px;
  background-color: black;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}
li{
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  padding: 5px;
  width: 30%;
  text-align: center;
  margin: 0 auto;
}

li:hover{
  background-color: #f0f0f0;
  color: #202020;
}

footer {
  margin: 0 auto;
  bottom: 0;
  text-align: center;
}